<div class="modal fade" id="win_add_evidence" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content" style="min-width: 550px;">
                <div class="modal-header user-header header-win-title">
                    <span>Agregar evidencias</span>
                    <button class="btn-close-modal pull-right" data-dismiss="modal" type="button"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info alert-dismissible" id="alertTEForm" style="display:none;" role="alert">
                        <p>Ocurrió un error.</p>
                        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                    </div>
                    <form id="frmAddEvidence" method="POST" style="padding:8px;">
                        <div class="form-group row row-w-span">
                            <label for="TEname" class="col-md-2 col-form-label">Nombre:</label>
                            <div class="col-md-7">
                                <input type="text" name="name" class="form-control" id="TEname" />
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" id="TEdocument_type" name="document_type" data-toggle="tooltip" title="Seleccione el tipo de documento"></select>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-md-2"></span>
                            <span class="col-md-7 error-msg-row" id="spnTEname">Error</span>
                            <span class="col-md-3 error-msg-row" id="spnTEdocument_type">Error</span>
                        </div>
                        <div class="form-group row row-w-span" >
                            <label for="TEdescription" class="col-md-3 col-form-label">Descripción:</label>
                            <div class="col-md-9">
                                <textarea type="text" class="form-control" id="TEdescription" name="description" style="width:100%;"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-md-3"></span>
                            <span class="col-md-9 error-msg" id="spnTEdescription">Error</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer user-footer">
                    <button type="button" class="btn btn-light" id="btnSaveEvidence">Guardar <i class="fa fa-save"></i></button>
                    <button class="btn btn-light" type="button" id="btnCloseAddEvidence">Salir <i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
