
<div class="modal fade" id="win_admin_users" data-keyboard="false" data-backdrop="static">
  <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-lg vertical-align-center">
        <div class="modal-content">
          <div class="modal-header user-header header-win-title">
            <span>Administrar usuarios</span>
            <button type="button" class="btn-close-modal pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
          </div>
          <div class="modal-body" style="width:100%;">
              <div class="alert alert-info alert-dismissible" id="alertAdminUsersWin" style="display:none;" role="alert">
                  <p>Ocurrió un error.</p>
                  <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
              </div>
              <div class="content">
                  <div class="table-responsive">
                      <table class="table display" id="grdAdminUsers">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Usuario</th>
                            <th>Perfil</th>
                            <th>Correo</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                  </div>
              </div>

          </div>
          <div class="modal-footer user-footer">
            <button type="button" class="btn btn-light" data-toggle="tooltip" title="Agregar usuario" data-placement="bottom" id="btnNewUser">Nuevo <i class="fa fa-user-plus"></i></button>
            <button type="button" class="btn btn-light" data-toggle="tooltip" title="Editar usuario" data-placement="bottom" id="btnEditUser">Editar <i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-light" data-toggle="tooltip" title="Deshabilitar usuario" data-placement="bottom" id="btnDisableUser">Deshabilitar <i class="fa fa-user-times"></i></button>
          </div>
        </div>
      </div>
  </div>
</div>
