<div class="modal fade" id="win_check_declined_task" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header user-header header-win-title">
                    <span>Revisar tarea declinada</span>
                    <button class="btn-close-modal pull-right" data-dismiss="modal" type="button"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info alert-dismissible" id="alertCHDTask" style="display:none;" role="alert">
                        <p>Ocurrió un error</p>
                        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                    </div>
                    <div class="jumbotron" style="margin:15px; padding:20px;">
                        <span id="CHDTtask_info"></span>
                    </div>
                    <form method="POST" id="frmCheckDeclinedTask" style="padding:8px;">
                        <div class="form-group row" >
                            <label for="CHDTassignee_id" class="col-md-3 col-form-label">Asignado a:</label>
                            <select class="form-control col-md-9" style="border-radius:5px;" name="assignee_id" id="CHDTassignee_id"></select>
                        </div>
                        <div class="form-group row">
                            <label for="CHDTdescription" class="col-md-3 col-form-label">Descripción:</label>
                            <textarea type="text" class="form-control col-md-9" id="CHDTdescription" name="description" style="width:100%;"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer user-footer">
                    <button class="btn btn-light" type="button" id="btnSaveCheckDeclinedTask" data-toggle="tooltip" title="Asignar tarea a auxiliar seleccionado y/o cambiar descripción">Enviar <i class="fa fa-calendar-check-o"></i></button>
                    <button class="btn btn-light" type="button" id="btnCancelDeclinedTask" data-toggle="tooltip" title="Cancelar tarea (ya no será asignada a ningún auxiliar)">Cancelar tarea <i class="fa fa-calendar-times-o"></i></button>
                    <button class="btn btn-light" type="button" id="btnCloseCheckDeclinedTask" data-toggle="tooltip" title="Salir sin realizar cambios">Salir <i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>

    </div>

</div>
