<div class="modal fade" id="win_decline_task" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header user-header header-win-title">
                    <span>Declinar tarea</span>
                    <button type="button" class="btn-close-modal pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info alert-dismissible" id="alertDecTask" style="display:none;" role="alert">
                        <p>Ocurrió un error</p>
                        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                    </div>
                    <div class="jumbotron" style="margin:15px; padding:20px;">
                        <span id="DecTinfo"></span>
                    </div>
                    <div class="row form-group row-w-span" style="margin:1px;">
                        <label for="DecTcomments" class="col-md-3 col-form-label">Comentarios:</label>
                        <div class="col-md-9">
                            <textarea id="DecTcomments" type="text" name="comments" class="form-control" style="width:100%;" placeholder="Agregar comentario"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-3"></span>
                        <span class="col-md-9 error-msg" id="spnDecTdescription">Error</span>
                    </div>
                </div>
                <div class="modal-footer user-footer">
                    <button type="button" class="btn btn-light" id="btnDeclineTask">Declinar <i class="fa fa-minus-circle"></i></button>
                    <button type="button" class="btn btn-light" id="btnCloseDeclineTask">Salir <i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
