<div class="modal fade" id="win_edit_task" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content check-task-size">
                <div class="modal-header user-header header-win-title">
                    <span>Editar</span>
                    <button class="btn-close-modal pull-right" data-dismiss="modal" type="button"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info alert-dismissible" id="alertEdTask" style="display:none;" role="alert">
                        <p>Ocurrió un error</p>
                        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                    </div>
                    <div class="jumbotron" style="margin:15px; padding:20px;">
                        <span id="Edtask_info"></span>
                    </div>
                    <form method="POST" id="frmEditTask" style="padding:8px;">
                        <div class="form-group row row-w-span">
                          <label for="EdTaskdeadline" style="width:37%; padding-right:15px;padding-left:15px;" class="col-form-label">Fecha de vencimiento:</label>
                          <div style="width:63%; padding-right:15px;padding-left:15px;">
                             <input type="date" name="deadline" class="form-control" id="EdTaskdeadline"/>
                          </div>
                        </div>
                        <div class="row">
                            <span style="width:37%;"></span>
                            <span class="error-msg" style="width:63%;" id="spnEdTaskdeadline">Error</span>
                        </div>
                        <div class="form-group row row-w-span">
                          <label for="EdTasksupervisor_id" class="col-form-label check-dtask-left-col1">Supervisa:</label>
                          <div class="check-dtask-left-col2">
                            <select id="EdTasksupervisor_id" class="form-control" placeholder="Supervisor" name="supervisor_id"></select>
                          </div>
                          <label for="EdTasksupervisor_deadline" class="col-form-label check-dtask-right-col1">Fecha:</label>
                          <div class="check-dtask-right-col2">
                            <input type="date" class="form-control" id="EdTasksupervisor_deadline" name="supervisor_deadline"/>
                          </div>
                        </div>
                        <div class="row">
                            <span class="check-dtask-left-col1"></span>
                            <span class="error-msg-row check-dtask-left-col2" id="spnEdTasksupervisor_id">Error</span>
                            <span class="check-dtask-right-col1"></span>
                            <span class="error-msg-row check-dtask-right-col2" id="spnEdTasksupervisor_deadline">Error</span>
                        </div>
                        <div class="form-group row row-w-span">
                          <label for="EdTaskassignee_id" class="col-form-label check-dtask-left-col1">Asignado a:</label>
                          <div class="check-dtask-left-col2">
                            <select id="EdTaskassignee_id" class="form-control" placeholder="Asignado a" name="assignee_id"></select>
                          </div>
                          <label for="EdTaskassigee_deadline" class="col-form-label check-dtask-right-col1">Fecha:</label>
                          <div class="check-dtask-right-col2">
                            <input type="date" id="EdTaskassigee_deadline" class="form-control" name="assignee_deadline"/>
                          </div>
                        </div>
                        <div class="row">
                            <span class="check-dtask-left-col1"></span>
                            <span class="error-msg-row check-dtask-left-col2" id="spnEdTaskassignee_id">Error</span>
                            <span class="check-dtask-right-col1"></span>
                            <span class="error-msg-row check-dtask-right-col2" id="spnEdTaskassigee_deadline">Error</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer user-footer">
                    <button class="btn btn-light" type="button" id="btnSaveEditTask" data-toggle="tooltip" title="Guardar cambios"><span class="action-btn-text">Guardar </span><i class="fa fa-save"></i></button>
                    <button class="btn btn-light" type="button" id="btnCloseEditTask" data-toggle="tooltip" title="Salir sin realizar cambios"><span class="action-btn-text">Salir </span><i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
