<div class="modal fade" id="win_new_user" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header user-header header-win-title">
                    <span id="spnNUtitle">Nuevo usuario</span>
                    <button type="button" class="btn-close-modal" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info alert-dismissible" id="alertNUForm" style="display:none;" role="alert">
                        <p>Ocurrió un error.</p>
                        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                    </div>
                    <form method="POST" id="frmNewUser" style="padding:8px;">
                        <div class="form-group row row-w-span">
                            <label for="NUname" class="col-md-3 col-form-label">Nombre:</label>
                            <input id="NUname" name="name" type="text" value="" class="form-control col-md-9" placeholder="Ej. Ana Alvarado">
                        </div>
                        <div class="row">
                            <span class="col-md-3"></span>
                            <span class="error-msg col-md-9" id="spnNUname">Error</span>
                        </div>
                        <div class="form-group row row-w-span">
                            <label for="NUlogin" class="col-md-4 col-form-label">Usuario (login):</label>
                            <input id="NUlogin" name="login" type="text" value="" class="form-control col-md-8" placeholder="Ej. aalvarado51">
                        </div>
                        <div class="row">
                            <span class="col-md-4"></span>
                            <span class="error-msg col-md-8" id="spnNUlogin">Error</span>
                        </div>
                        <div class="form-group row row-w-span">
                            <label for="NUemail" class="col-md-3 col-form-label">Correo:</label>
                            <input id="NUemail" name="email" type="email" value="" class="form-control col-md-9" placeholder="Ej. aalvarado@gmail.com">
                        </div>
                        <div class="row">
                            <span class="col-md-3"></span>
                            <span class="error-msg col-md-9" id="spnNUemail">Error</span>
                        </div>
                        <div class="form-group row row-w-span">
                            <label for="NUuser_type_id" class="col-md-3 col-form-label">Perfil:</label>
                            <select class="form-control col-md-9" style="border-radius:5px;" name="user_type_id" id="NUuser_type_id"></select>
                        </div>
                        <div class="row">
                            <span class="col-md-3"></span>
                            <span id="spnNUuser_type_id" class="error-msg col-md-9">Error</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer user-footer">
                    <button type="button" class="btn btn-light" id="btnSaveNewUser">Guardar <i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-light" id="btnCloseNewUser">Salir <i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
