<div class="modal fade" id="win_proj_notif_history" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content" style="min-width:550px;">
                <div class="modal-header user-header header-win-title">
                     <span>Historial de mensajes</span>
                     <button type="button" class="btn-close-modal pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body" style="max-height:350px;">
                    <div id="divProjNotifications" style="max-height:300px; overflow-y:auto; max-width:520px;">

                    </div>
                </div>
                <div class="modal-footer user-footer">
                    <button type="button" class="btn btn-light" id="btnCloseProjNotifHistory" data-toggle="tooltip" title="Salir"><span class="action-btn-text">Salir </span><i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
