<div class="modal fade" id="win_send_project_notification" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header user-header header-win-title">
                    <span>Enviar notificación</span>
                    <button type="button" class="btn-close-modal pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info alert-dismissible" id="alertSPNForm" style="display:none;" role="alert">
                        <p>Ocurrió un error</p>
                        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                    </div>
                    <form method="POST" id="frmSendProjectNotif" style="padding:.25rem;">
                        <div class="row from-group">
                            <label for="SPNfrom" class="col-sm-2 col-form-label label-msg-notif">De:</label>
                            <input type="text" readonly id="SPNfrom" class="col-sm-9 form-control ta-msg-notif" name="msg_from"/>
                        </div>
                        <fieldset style="border:solid; border-width:thin; border-color:#cbcccd; margin:2%;" id="fieldsetSPN">
                            <legend style="width:inherit; margin:5px; padding-right:5px; padding-left:5px; font-size:large; color:#004080;">Enviar a:</legend>
                            <div id="SPNparentDiv">

                            </div>
                        </fieldset>
                        <div class="row form-group">
                            <label for="SPNmessage" class="col-form-label txtarea-label-notif">Mensaje:</label>
                            <textarea type=text name="message" class="form-control txtarea-box-notif" id="SPNmessage"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer user-footer">
                    <button type="button" class="btn btn-light" id="btnShowProjNotifHistory" data-toggle="tooltip" title="Muestra historial de mensajes del proyecto"><span class="action-btn-text">Ver historial </span><i class="fa fa-history"></i></button>
                    <button type="button" class="btn btn-light" id="btnSendProjNotification" data-toggle="tooltip" title="Enviar notificación"><span class="action-btn-text">Enviar </span><i class="fa fa-send-o"></i></button>
                    <button type="button" class="btn btn-light" id="btnCloseSendProjNotification" data-toggle="tooltip" title="Salir"><span class="action-btn-text">Salir </span><i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
