<div class="modal fade" id="win_task_details" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header user-header header-win-title">
                    <span>Detalles</span>
                    <button type="button" class="btn-close-modal pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <div style="margin:15px; padding:20px;" class="jumbotron">
                        <span id="TDtask_info"></span>
                        <!-- <a href="/task/downloadEvidence/%s_%s" target="_blank" role="button" class="btn btn-danger detail-ev-buttons" data-toggle="tooltip" title="Descargar %s"><i class="fa fa-file-text-o"></i></a> -->
                    </div>
                </div>
                <div class="modal-footer user-footer">
                    <button type="button" class="btn btn-light" id="btnCloseTaskDetails">Salir <i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
