<div class="modal fade" id="win_today_tasks" data-keyboard="false" data-backdrop="static" style="overflow-y:scroll;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" style="overflow-y:initial !important;">
            <div class="modal-content project-detail-size" style="max-width:none;">
                <div class="modal-header user-header header-win-title">
                    <span>Mis pendientes</span>
                    <button type="button" class="btn-close-modal pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="modal-body">
                    <span id="spnTTdate" style="font-family: Times New Roman, Times, serif; font-size:3.5vw;"></span>
                    <hr style="background-color:#9a9191;" />
                    <div id="divTodayTasks" style="margin-left:5%;">
                        <!-- <a class="today-task" href="#" name="121">Tarea prueba</a> -->
                    </div>
                </div>
                <div class="modal-footer user-footer">
                    <button type="button" class="btn btn-light" id="btnCloseTodayTasks" data-toggle="tooltip" title="Salir"><span class="action-btn-text">Salir </span><i class="fa fa-window-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
