.settings-header,.settings-footer{
  background: linear-gradient(to right,#00cc99,#00e6ac);
}

.notif-sett-size{
    min-width: 580px;
}

@media screen and (max-width:980px){
    .notif-sett-size{
        min-width: 300px;
    }
}

@media screen and (max-width:980px){
    .notif-sett-size{
        min-width: 300px;
    }
}
