.fa-power-off{
  color:#797878;
}
.fa-power-off:hover{
  color:#cc0000;

}

/* Modal */
.modal-backdrop {
   background-color: #a5a5af;
}
.modal-content {
    width: inherit;
    max-width: inherit;
    height: inherit;
    margin:0 auto;
    pointer-events: all;
    overflow-y:auto;
  /* height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    overflow-y:'scroll';
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-header{
  position: relative;
  padding: 8px;
}

.task-body{
  background-color: #ffffe6;
}
.modal-footer{
  padding:5px;
}
.task-footer,.task-header{
  /*background-color: #ffffcc;
  background: linear-gradient(#ff9999,#ffb3b3);*/
  background: linear-gradient(to right,#ffa366,#ffa86f) ;
}
/*.task-header{
  background:linear-gradient(#ff8533,#ff944d) ;
}*/
.fa-close{
  color:white;
}

.btn-close-modal{
  outline: none;
  border: 2px solid white;
  border-radius: 50%;
  float: right;
  background-color: transparent;
  font-size:10px;
  padding: none;
  cursor: pointer;
}
.btn-close-modal:visited{
  outline: none;
}
.btn-close-modal:active{
  outline: none;
}
.btn-close-modal:focus{
  outline:none
}
.btn-close-modal:focus-within{
  outline:none;
}
/* Lista de tareas */


.header-win-title{
  font-size: 18px;
  font-weight: bold;
  color:white;
}


.btn-close-modal:hover{
  background-color: #ff3333;
  border:2px solid #ff4d4d;
}

.tabs-task-list{
  background-color: #f2f2f2;
  color:white;
}

.btn-evidence{
  border:2px solid #00e673;
  border-radius: 50%;
  color:white;
  float:right;
  background-color: #00e673;
  outline: none;
  padding: 1px;
  margin:1px 5px 3px 5px;
}

.btn-evidence:hover{
  background-color: #00b359;
  border: 2px solid #00b359;
}

.fieldset-evidence{
  border:1px solid #d9d9d9;
  border-radius: 5px;
  width:100%;
  padding: 5px 6px;
  min-height: 160px;
}
.legend-evidence{
  width:auto;
  padding: 4px;
  border-bottom:none;
  margin-left: 1em;
  margin-bottom: 1px;
}

.evidence-container{
    height:36px;
    background-color:#99ccff;
    border-radius: 5px;
    margin:8px;
    padding:6px;
}

.fa-times{
    cursor:pointer;
}

.fa-times:hover{
    color:red;
}

.detail-ev-buttons{
    padding:.1rem .5rem;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}


input[type="date"]
{
    display:block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;
}


.card-header-mail{
    padding:5px 15px 2px;
    background-color:#d9d9d9;
    border:1px solid #f2f2f2;
}

.card-mail{
    margin:0.3em;
}

.hr-mail-date{
    margin-top:0.25rem;
    margin-bottom:0.25rem;
}

.card-body-mail{
    padding:.25rem 1.25rem 1.25rem 1.25rem;
}

.span-mail-date{
    font-size:.8rem;
}


#btnCollapseFilters {
    display:none;
}

.action-btn-text{
    display:inline;
}

.new-task-size{
    min-height:400px;
    min-width:630px;
    overflow-y:auto;
}

.new-project-size{
    min-height:300px;
    min-width:630px;
    overflow-y:auto;
}

.project-detail-size{
    min-height:550px;
    width:800px !important;
    overflow-x:auto;
}

.proj-task-table{
    min-width:715px;
    overflox-x:auto;
}

.check-task-size{
    min-width:550px;
}

.check-dtask-left-col1{
    width:20%;
    padding-left: 15px;
}
.check-dtask-left-col2{
    width:35%;
    padding-right: 8px;
}

.check-dtask-right-col1{
    width:13%;
    padding-left:8px;
}
.check-dtask-right-col2{
    width:32%;
    padding-right:15px;
}

.txtarea-label-notif{
    width:18%;
    margin-left:2%;
}
.txtarea-box-notif{
    width:72%;
    height:100px;
    margin-right:3%;
}

.task-filters-col-1{
    width:24%;
    margin:0% 0.5%;
}

.task-filters-col-2{
    width:18%;
    margin:0% 0.5%;
}

.task-filters-col-2-fecha{
    width:16%;
    margin:0% 0.5%;
}

.task-filters-col-3{
    width:17%;
    margin:0% 0.5%;
}

.task-filters-col-4{
    width:64%;
    margin:0% 0.5%;
}

.task-filters-col-5{
    width:9%;
    margin:0% 0.5%;
}


.task-filter-label1{
    width:32%;
    margin:0% 2%;
}

.task-filter-label1-aux{
    width:32%;
    margin:0% 2%;
}

.task-filter-label-status{
    width:32%;
    margin:0% 2%;
}

.task-filter-label2{
    width:11%;
    margin:0% 2%;
}

.task-filter-label3{
    width:8%;
    margin:0% 2%;
}

.task-filter-input1{
    width:60%;
    margin:0% 2%;
}

.task-filter-input1-aux{
    width:60%;
    margin:0% 2%;
}

.task-filter-input2{
    width:90%;
    margin:0% 2%;
}

.task-filter-input3{
    width:81%;
    margin:0% 2%;
    height:fit-content;
}

.task-filter-input4{
    width:64%;
    margin:0% 2%;
}

.task-filter-input5{
    width:82%;
    margin:0% 2%;
}



@media screen and (max-width:1080px){
    .filter-btn-no-padding{
        padding:5px;
    }

    .task-filters-col-1, .task-filters-col-2 {
        width: 45%;
        margin-top: 10px;
        margin-right:2%;
        float:left;
    }

    .task-filters-col-4{
        width: 33%;
        margin-top: 10px;
        /* margin-right:2%; */
        float:left;
    }


    .task-filters-col-5{
        width: 10%;
        margin-top: 10px;
        margin-right:2%;
        float:left;
    }

    .task-filters-col-2-fecha{
        width: 28%;
        margin-top: 10px;
        margin-right:2%;
        float:left;
    }

    .task-filters-col-3{
        width: 34%;
        margin-top: 10px;
        margin-right:2%;
        float:left;
    }

    .task-filter-label1{
        width:25%;
        margin:0% 2%;
    }

    .task-filter-label1-aux{
        width:25%;
        margin:0% 2%;
    }

    .task-filter-label3{
        width:21%;
        margin:0% 2%;
    }

    .task-filter-input1{
        width:66%;
        margin:0% 2%;
    }

    .task-filter-input1-aux{
        width:66%;
        margin:0% 2%;
    }

    .task-filter-input5{
        width:70%;
        margin:0% 2%;
    }

}

@media screen and (max-width:980px){
    .hidden-navbar-icon{
        display:none
    },

    .task-filters-col-1, .task-filters-col-2{
      width: 45%;
      margin-top: 10px;
      margin-right:2%;
      float:left;
    }

    /* .task-filters-col-4{
        width: 38%;
        margin-top: 10px;
        margin-right:2%;
        float:left;
    } */

    .task-filters-col-5{
        width: 10%;
        margin-top: 10px;
        margin-right:2%;
        float:left;
    }

    .task-filters-col-2-fecha {
        width: 28%;
        margin-top: 10px;
        margin-right:2%;
        float:left;
    }

    .task-filters-col-3{
        width: 32%;
        margin-top: 10px;
        margin-right:2%;
        float:left;
    }

    #btnCollapseFilters {
        display:block;
        margin-top:35px;
        padding: 5px;
        margin-left: 1.5em;
    }

    #taskContainer {
        padding:2em 0.5em !important;
    }

    .action-btn-text {
        display:none;
    }

    .new-task-size {
        min-height:400px;
        min-width:300px !important;
        overflow-y:auto;
    }

    .new-project-size{
        min-height:300px;
        min-width:300px !important;
        overflow-y:auto;
    }

    .project-detail-size{
        min-height:450px;
        width:500px !important;
        overflow-x:auto;
    }

    .proj-task-table{
        min-width:290px;
        overflox-x:auto;
    }

    #TEdocument_type{
        padding-top:10px;
    }

    .check-task-size{
        min-width:300px !important;
    }

    .check-dtask-left-col1{
        width:35%;
        padding-left: 15px;
    }
    .check-dtask-left-col2{
        width:65%;
        padding-right: 15px;
    }

    .check-dtask-right-col1{
        width:35%;
        padding-left:15px;
    }
    .check-dtask-right-col2{
        width:65%;
        padding-right:15px;
    }

    .label-msg-notif{
        width:15%;
    }

    .ta-msg-notif{
        width:80%;
    }

    .txtarea-label-notif{
        width:50%;
        margin-left:5%;
    }
    .txtarea-box-notif{
        width:100%;
        height:100px;
        margin-left:5%;
        margin-right:5%;
    }
}

@media screen and (max-width: 675px){
  .task-filters-col-1, .task-filters-col-2, .task-filters-col-2-fecha, .task-filters-col-3{
    width: 98%;
    margin-top: 10px;
    margin-right:2%;
  }

  .task-filters-col-4{
      width: 72%;
      margin-top: 10px;
      margin-right:2%;
  }
  .task-filters-col-5{
      width: 20%;
      margin-top: 10px;
      margin-right:2%;
  }

  .task-filter-label1{
      width:32%;
      margin:0% 2%;
  }

  .task-filter-label1-aux{
      width:20%;
      margin:0% 2%;
  }

  .task-filter-label-status{
      width:32%;
      margin:0% 2%;
  }

  .task-filter-label2{
      width:13%;
      margin:0% 2%;
  }

  .task-filter-label3{
      width:24%;
      margin:0% 2%;
  }

  .task-filter-input1{
      width:60%;
      margin:0% 2%;
  }

  .task-filter-input1-aux{
      width:69%;
      margin:0% 2%;
  }

  .task-filter-input2{
      width:79%;
      margin:0% 2% 0% 19%;
  }

  .task-filter-input3{
      width:79%;
      margin:0% 2%;
      height:fit-content;
  }

  .task-filter-input4{
      width:78%;
      margin:0% 2%;
  }

  .task-filter-input5{
      width:68%;
      margin:0% 2%;
  }

  #btnCollapseFilters {
      margin-top: 35px;
      display:block;
      padding: 5px;
      margin-left: 1.5em;
  }

  #taskContainer {
      padding:2em 0.5em !important;
  }

  .action-btn-text {
      display:none;
  }

  .new-task-size {
      min-height:400px;
      min-width:250px !important;
      overflow-y:auto;
  }

  .new-project-size{
      min-height:300px;
      min-width:250px !important;
      overflow-y:auto;
  }

  .project-detail-size{
      min-height:350px;
      width:300px !important;
      overflow-x:auto;
  }

  .proj-task-table{
      min-width:290px;
      overflox-x:auto;
  }

  #TEdocument_type{
      padding-top:10px;
  }

  .check-task-size{
      min-width:300px !important;
  }

  .check-dtask-left-col1{
      width:35%;
      padding-left: 15px;
  }
  .check-dtask-left-col2{
      width:65%;
      padding-right: 15px;
  }

  .check-dtask-right-col1{
      width:35%;
      padding-left:15px;
  }
  .check-dtask-right-col2{
      width:65%;
      padding-right:15px;
  }

}
