<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark" id="nav_main">
    <!-- <div class="collapse navbar-toggleable-xs" id="divNavBar"> -->
    <a class="navbar-brand" href="/home">
        <img src="../static/images/rb.jpg" style="width:30px; height:30px; border-radius:50%;" class="d-inline-block align-top" alt=""/>  EasyTask
    </a>
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#divNavBar">
        &#9776;
    </button>
    <div class="collapse navbar-collapse navbar-toggleable-xs" id="divNavBar">
        <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbaTask" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Crear tareas">
                        <i class="fa fa-list-alt hidden-navbar-icon" style="margin-right:5px; vertical-align:middle;"></i>Tareas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarTask">
                        <a class="dropdown-item" data-toggle="modal" href="#win_new_task" id="a_new_task">Crear tarea</a>
                        <a class="dropdown-item" data-toggle="modal" href="#win_new_project" id="a_new_project">Crear proyecto</a>
                        {% if g.template_user_info.user_type_id!=3%}
                        {% if g.template_user_info.user_type_id in (1,4,5,6) %}
                            <a class="dropdown-item" data-toggle="modal" href="#win_create_report">Reporte</a>
                        {% endif %}
                        {% if g.template_user_info.user_type_id in (4,5,1,2,6) %}
                            <a class="dropdown-item" data-toggle="modal" href="#win_upload_tasks">Carga masiva</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Administrar usuarios">
                    <i class="fa fa-group hidden-navbar-icon" style="margin-right:5px; vertical-align:middle;"></i>Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarUser">
                    {% if g.template_user_info.user_type_id!=3 %}
                        <a class="dropdown-item" data-toggle="modal" href="#win_admin_users">Administrar usuarios</a>
                    {% endif %}
                    <a class="dropdown-item" data-toggle="modal" href="#win_change_pass">Cambiar contraseña</a>
                    {% if g.template_user_info.user_type_id==4 %}
                        <a class="dropdown-item" data-toggle="modal" href="#win_user_manager">Control de usuarios</a>
                    {% endif %}
                </div>
            </li>
            {% if g.template_user_info.user_type_id!=3 %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSettings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Configurar notificaciones y datos de la empresa">
                        <i class="fa fa-cogs hidden-navbar-icon" style="margin-right:5px; vertical-align:middle;"></i>Configuración
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarSettings">
                        <a class="dropdown-item" data-toggle="modal" href="#win_notification_settings">Reglas para notificaciones</a>
              <!-- <a class="dropdown-item" data-toggle="modal" href="#win_company_info">Datos empresa</a> -->
              <!-- <a class="dropdown-item" data-toggle="modal" href="#win_logo">Logotipo</a> -->
                    </div>
                </li>
            {% endif %}
            {% if g.template_user_info.user_type_id in (4,5)%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Nuevo registro">
                        <i class="fa fa-address-book-o hidden-navbar-icon" style="margin-right:5px; vertical-align:middle;"></i>Registro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarUser">
                        <a class="dropdown-item" data-toggle="modal" href="#win_register_company">Empresa</a>
                        <a class="dropdown-item" data-toggle="modal" href="#win_new_admin_user">Usuario administrador</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    <!-- <a class="btn" role="button"  id="btnCollapseCalendar" data-toggle="tooltip" title="Mostrar/Ocultar calendario" ><i class="fa fa-calendar" style="color:white;"></i></a> -->
        <a data-toggle="tooltip" title="Ver pendientes de hoy" class="btn" style="color:#939699;" id="btnWinTodayTasks"><i class="fa fa-clock-o"></i></a>
        <a data-toggle="tooltip" title="Cambiar vista a proyectos" style="cursor:pointer; margin-right:10px; color:#939699; font-weight:bold; display:none;" id="btnChangeProjectView" href="/viewprojects"><span class="action-btn-text">Ver proyectos </span><i class="fa fa-list"></i></a>
        <a data-toggle="tooltip" title="Cambiar vista a tareas" style="cursor:pointer; margin-right:10px; color:#939699; font-weight:bold; display:none;" id="btnChangeTaskView" href="/home"><span class="action-btn-text">Ver tareas </span><i class="fa fa-list"></i></a>
        <a class="btn btn-log-off" role="button" data-toggle="tooltip" title="Cerrar sesión" style="cursor:pointer;" id="btn_log_off"><i class="fa fa-power-off"></i></a>
    <!-- <a class="btn btn-log-off" role="button" data-toggle="tooltip" title="Cerrar sesión" style="cursor:pointer;" href="/auth/logout" ><i class="fa fa-power-off"></i></a> -->
    </div>
    <!-- </div> -->
</nav>
