
<div class="row content">
    <!-- <div style="padding:2em; width:100%;" id="taskContainer"> -->
    <div class="col-lg-12" style="padding:2em; max-height:500px;" id="taskContainer">
      <form id="TLfrmFilters">
        <div class="row" style="padding:.5em;">
            <label for="TLselSupervisor" style="width:9%; margin:0px 5px;" class="col-form-label"><b>Supervisor:</b></label>
            <select class="form-control" id="TLselSupervisor" name="supervisor_id" style="width:16%;margin:0px 5px; border-color:#001871;"></select>
            <select class="form-control" id="TLdateType" name="date_type" style="width:15%; margin:0px 5px; border-color:#ed8b00;" data-toggle="tooltip" title="Tipo de fecha por el cual desea filtrar las tareas">
                <option id="1">Fecha creación</option>
                <option id="2">Fecha límite</option>
            </select>
            <label for="TLdateFrom" style="width:3%; margin-left:5px; margin-right:5px;" class="col-form-label"><b>De:</b></label>
            <input type="date" name="from" class="form-control" id="TLdateFrom" style="width:14%; margin-left:5px; margin-right:5px; border-color:#ed8b00" required="required" data-toggle="tooltip" title="Inicio rango de fechas"/>
            <label for="TLdateTo" style="width:2%; margin-left:5px; margin-right:5px;" class="col-form-label"><b>A:</b></label>
            <input type="date" name="to" class="form-control" id="TLdateTo" style="width:14%; margin-left:5px; margin-right:5px; border-color:#ed8b00;" required="required"/>
            <label for="TLselStatus" class="col-form-label" style="width:6%;"><b>Status:</b></label>
            <select class="form-control" id="TLselStatus" name="status_id" style="width:12%; margin-right:10px; border-color:#00bfb3;" data-toggle="tooltip" title="Status para filtrar tareas">
                <option id="-1">Todos</option>
                <option id="1">Pendiente</option>
                <option id="2">Resuelta</option>
                <option id="3">Declinada</option>
                <option id="4">Cerrada</option>
                <option id="5">Cancelada</option>
                <option id="6">En proceso</option>
            </select>
        </div>
        <div class="row" style="padding-top:.2em; padding-bottom:.5em; padding-left:.5em;">
            <label for="TLselAssignee" style="width:9%; margin:0px 5px;" class="col-form-label"><b>Auxiliar:</b></label>
            <select class="form-control" id="TLselAssignee" name="assignee_id" style="width:16%;margin:0px 5px; border-color:#00a9ce;"></select>
            <label for="TLsearchName" class="col-form-label" style="width:5%; margin:0px 5px;"><b>Buscar:</b></label>
            <input type="text" class="form-control" id="TLsearchName" style="width:53%; margin-left:10px; margin-right:10px; border-color:#981d97;" name="search"/>
            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" title="Buscar" style="margin-left:11px;" id="btnTaskSearch"><i class="fa fa-search"></i></button>
            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" title="Limpiar búsqueda" style="margin-left:11px;" id="btnClearTaskSearch"><i class="fa fa-trash"></i></button>
        </div>
      </form>

        <div class="table-responsive">
            <table id="grdTask" class="table display">
                <thead>
                    <tr>
                        <th class="info">Creada</th>
                        <th>Nombre</th>
                        <th>Fecha límite</th>
                        <th>Auxiliar</th>
                        <th>Supervisor</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer;">

                </tbody>
            </table>
        </div>
        <div class="btn-toolbar float-right" role="toolbar" style="padding-top:5px; padding-right: 15px;">
            <div class="btn-group " role="group">
                <button type="button" class="btn btn-outline-primary" id="btnTaskDetails">Ver detalles <i class="fa fa-search"></i></button>
                {% if g.template_user_info.user_type_id!=2 %}
                    <button type="button" class="btn btn-outline-primary" id="btnResolveTaskList">Resolver <i class="fa fa-check-square-o"></i></button>
                {% endif %}
                <button type="button" class="btn btn-outline-primary" id="btnDeclineTaskList">Declinar <i class="fa fa-minus-circle"></i></button>
                {% if g.template_user_info.user_type_id!=3 %}
                    <button type="button" class="btn btn-outline-primary" id="btnCheckTaskList">Revisar <i class="fa fa-edit"></i></button>
                {% endif %}
                <!-- <button type="button" id="btn" class="btn btn-outline-primary">Cargar</button> -->

            </div>

        </div>

    </div>
    {% include 'elements/_sidebar.html' %}
</div>
